[submodule "modules/bitbake"]
	path = modules/bitbake
	url = git://git.openembedded.org/bitbake
[submodule "modules/oe-core"]
	path = modules/oe-core
	url = git://git.openembedded.org/openembedded-core
[submodule "modules/meta-raspberrypi"]
	path = modules/meta-raspberrypi
	url = https://github.com/agherzan/meta-raspberrypi.git
[submodule "pcbs/propeller-quickstart-pcb/modules/kicad-lib"]
	path = pcbs/propeller-quickstart-pcb/modules/kicad-lib
	url = git@github.com:deets/kicad-lib.git
